body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: white;
}

.navbar_logo i {
  color: #d49466;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: white;
  display: flex;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggle {
  position: absolute;
  right: 32px;
  top: 8px;
  font-size: 24px;
  color: #d49466;
  display: none;
}
.navbar_icons {
  font-size: 10px;
  font-weight: bold;
  background-color: wheat;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  .navbar_menu li padding {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    justify-content: center;
    width: 100%;
    padding: 0;
    display: none;
  }

  .navbar_toggle {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
